<h1>{{title}}</h1>
<nav>
  <a class="nav-item" routerLink="/dashboard">Dashboard</a>
  <a class="nav-item" routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>